# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django
db.sqlite3
staticfiles/
media/

# Environment variables
.env

# Data files
data/*.csv
*.sqlite3

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Node / frontend
node_modules/
dist/
